<h1>New task</h1>
<p class="text-muted"><%= link_to @project.title, project_path(@project) %></p>

<%= form_with model: [@project, @task], local: true do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control", required: true %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control", rows: 3 %>
  </div>
  <div class="form-group">
    <%= f.label :deadline %>
    <%= f.date_field :deadline, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :status %>
    <%= f.select :status, Task::STATUSES, {}, class: "form-control" %>
  </div>
  <%= f.submit "Create task", class: "btn btn-primary" %>
  <%= link_to "Cancel", project_tasks_path(@project), class: "btn btn-secondary" %>
<% end %>
