<nav class="nav">
  <div class="nav-inner">
    <%= link_to "ThesisTrack", dashboard_path, class: "nav-brand" %>
    <div class="nav-links">
      <% if current_user.supervisor? %>
        <%= link_to "Dashboard", dashboard_path %>
        <%= link_to "Students & Projects", projects_path %>
      <% else %>
        <%= link_to "Dashboard", dashboard_path %>
        <% if current_user.project.present? && current_user.project.persisted? %>
          <%= link_to "My Project", project_path(current_user.project) %>
          <%= link_to "Tasks", project_tasks_path(current_user.project) %>
          <%= link_to "Meetings", project_meetings_path(current_user.project) %>
          <%= link_to "Messages", project_messages_path(current_user.project) %>
          <%= link_to "Documents", project_documents_path(current_user.project) %>
          <%= link_to "Feedback", project_feedbacks_path(current_user.project) %>
        <% else %>
          <%= link_to "Get started", get_started_path %>
        <% end %>
      <% end %>
      <span class="nav-user"><%= current_user.name %> (<%= current_user.role %>)</span>
      <%= link_to "Edit account", edit_user_registration_path, class: "btn btn-secondary btn-sm" %>
      <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-secondary btn-sm" %>
    </div>
  </div>
</nav>
