<nav class="nav nav-public">
  <div class="nav-inner">
    <%= link_to root_path, class: "nav-brand" do %>
      <span class="nav-brand-text">ThesisTrack</span>
      <span class="nav-brand-tagline">Final Year Project Supervision</span>
    <% end %>
    <div class="nav-links nav-links-public">
      <%= link_to "Home", root_path, class: "nav-link" %>
      <%= link_to "How to use", "#how-to-use", class: "nav-link" %>
      <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-sm" %>
    </div>
  </div>
</nav>
